apiVersion: 1

datasources:
  - name: OPEXIA InfluxDB
    uid: opexiaInflux
    type: influxdb
    access: proxy
    isDefault: true
    url: http://influxdb:8086
    basicAuth: false
    jsonData:
      version: Flux
      organization: AlgorithmOps
      defaultBucket: OPEXIA
    secureJsonData:
      token: "__INFLUX_TOKEN__"
